*{
    padding: 0 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    

}
.Navbar{
    background-color: rgb(234, 240, 239);
    color: black;
    height: 80px;
    border-bottom: 100px;
    border-color: rgb(108, 110, 110);
}
.Navbar img{
    height: 60px;
}
.container{
    border-top: 5px solid rgb(190, 183, 183);
    border-right: 5px solid rgb(190, 183, 183);;
    
    display : flex;
    flex-direction: row;
}
.info{
    padding-left: 10%;
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
}
h4{
    color: rgb(226, 17, 63);
    font-size: 40px;
    
}
h1{
    font-size: 80px;
    margin-top: 3%;
}
.explain{
    font-size: 35px;
    line-break: loose;
    width: 70vh;
}

.container button{
    background-color: rgb(226, 17, 63);
    color: aliceblue;
    font-size: 30px;
    align-items: center;
    min-width: 250px;
    height: 80px;
    border: 0cap;
    border-radius: 10px;
    margin-top: 80px;
    cursor: pointer;
}
.container img{
    padding-top: 40px;
    border-radius: 10px;
    width: 100vh;
    align-items:center;
}
